:root {
    --skin__ID: 4-73;
    --skin__accent_1: #04BE01;
    --skin__accent_1__toRgbString: 4,190,1;
    --skin__accent_2: #FF4A4A;
    --skin__accent_2__toRgbString: 255,74,74;
    --skin__accent_3: #FFAA09;
    --skin__accent_3__toRgbString: 255,170,9;
    --skin__alt_border: #CECECE;
    --skin__alt_border__toRgbString: 206,206,206;
    --skin__alt_lead: #FFFFFF;
    --skin__alt_lead__toRgbString: 255,255,255;
    --skin__alt_neutral_1: #34a15c;
    --skin__alt_neutral_1__toRgbString: 52,161,92;
    --skin__alt_neutral_2: #5cb87e;
    --skin__alt_neutral_2__toRgbString: 92,184,126;
    --skin__alt_primary: #FFFFFF;
    --skin__alt_primary__toRgbString: 255,255,255;
    --skin__alt_text_primary: #008f35;
    --skin__alt_text_primary__toRgbString: 0,143,53;
    --skin__bg_1: #F5F5F5;
    --skin__bg_1__toRgbString: 245,245,245;
    --skin__bg_2: #FFFFFF;
    --skin__bg_2__toRgbString: 255,255,255;
    --skin__border: #CECECE;
    --skin__border__toRgbString: 206,206,206;
    --skin__bs_topnav_bg: #008f35;
    --skin__bs_topnav_bg__toRgbString: 0,143,53;
    --skin__bs_zc_an1: #008f35;
    --skin__bs_zc_an1__toRgbString: 0,143,53;
    --skin__bs_zc_bg: #FFFFFF;
    --skin__bs_zc_bg__toRgbString: 255,255,255;
    --skin__btmnav_active: #008f35;
    --skin__btmnav_active__toRgbString: 0,143,53;
    --skin__btmnav_def: #9B9B9B;
    --skin__btmnav_def__toRgbString: 155,155,155;
    --skin__btn_color_1: #008f35;
    --skin__btn_color_1__toRgbString: 0,143,53;
    --skin__btn_color_2: #008f35;
    --skin__btn_color_2__toRgbString: 0,143,53;
    --skin__cards_text: #666666;
    --skin__cards_text__toRgbString: 102,102,102;
    --skin__ddt_bg: #E3E3E3;
    --skin__ddt_bg__toRgbString: 227,227,227;
    --skin__ddt_icon: #F1F1F1;
    --skin__ddt_icon__toRgbString: 241,241,241;
    --skin__filter_active: #008f35;
    --skin__filter_active__toRgbString: 0,143,53;
    --skin__filter_bg: #FFFFFF;
    --skin__filter_bg__toRgbString: 255,255,255;
    --skin__home_bg: #F5F5F5;
    --skin__home_bg__toRgbString: 245,245,245;
    --skin__icon_1: #008f35;
    --skin__icon_1__toRgbString: 0,143,53;
    --skin__icon_tg_q: #B4B6BF;
    --skin__icon_tg_q__toRgbString: 180,182,191;
    --skin__icon_tg_z: #909199;
    --skin__icon_tg_z__toRgbString: 144,145,153;
    --skin__jackpot_text: #999999;
    --skin__jackpot_text__toRgbString: 153,153,153;
    --skin__jdd_vip_bjc: #008f35;
    --skin__jdd_vip_bjc__toRgbString: 0,143,53;
    --skin__kb_bg: #CECECE;
    --skin__kb_bg__toRgbString: 206,206,206;
    --skin__label_accent3: #FFAA09;
    --skin__label_accent3__toRgbString: 255,170,9;
    --skin__labeltext_accent3: #FFFFFF;
    --skin__labeltext_accent3__toRgbString: 255,255,255;
    --skin__lead: #333333;
    --skin__lead__toRgbString: 51,51,51;
    --skin__leftnav_active: #FFFFFF;
    --skin__leftnav_active__toRgbString: 255,255,255;
    --skin__leftnav_def: #999999;
    --skin__leftnav_def__toRgbString: 153,153,153;
    --skin__neutral_1: #666666;
    --skin__neutral_1__toRgbString: 102,102,102;
    --skin__neutral_2: #999999;
    --skin__neutral_2__toRgbString: 153,153,153;
    --skin__neutral_3: #CCCCCC;
    --skin__neutral_3__toRgbString: 204,204,204;
    --skin__primary: #008f35;
    --skin__primary__toRgbString: 0,143,53;
    --skin__profile_icon_1: #FFAA09;
    --skin__profile_icon_1__toRgbString: 255,170,9;
    --skin__profile_icon_2: #04BE02;
    --skin__profile_icon_2__toRgbString: 4,190,2;
    --skin__profile_icon_3: #008f35;
    --skin__profile_icon_3__toRgbString: 0,143,53;
    --skin__profile_icon_4: #EA4E3D;
    --skin__profile_icon_4__toRgbString: 234,78,61;
    --skin__profile_toptext: #FFFFFF;
    --skin__profile_toptext__toRgbString: 255,255,255;
    --skin__search_icon: #CECECE;
    --skin__search_icon__toRgbString: 206,206,206;
    --skin__table_bg: #F5F5F5;
    --skin__table_bg__toRgbString: 245,245,245;
    --skin__text_accent3: #FFFFFF;
    --skin__text_accent3__toRgbString: 255,255,255;
    --skin__text_primary: #FFFFFF;
    --skin__text_primary__toRgbString: 255,255,255;
    --skin__tg_accent_1: #CCF1CB;
    --skin__tg_accent_1__toRgbString: 204,241,203;
    --skin__tg_accent_3: #FEEDCD;
    --skin__tg_accent_3__toRgbString: 254,237,205;
    --skin__tg_primary: #CBE8D6;
    --skin__tg_primary__toRgbString: 203,232,214;
    --skin__web_bs_yj_bg: #FFFFFF;
    --skin__web_bs_yj_bg__toRgbString: 255,255,255;
    --skin__web_bs_zc_an2: #008f35;
    --skin__web_bs_zc_an2__toRgbString: 0,143,53;
    --skin__web_btmnav_db: #FFFFFF;
    --skin__web_btmnav_db__toRgbString: 255,255,255;
    --skin__web_filter_gou: #FFFFFF;
    --skin__web_filter_gou__toRgbString: 255,255,255;
    --skin__web_left_bg_q: #FFFFFF0A;
    --skin__web_left_bg_shadow: #0000001F;
    --skin__web_left_bg_shadow_active: #0000001F;
    --skin__web_left_bg_z: #FFFFFF0D;
    --skin__web_load_zz: #CECECE99;
    --skin__web_plat_line: #CECECE;
    --skin__web_plat_line__toRgbString: 206,206,206;
    --skin__web_topbg_1: #008F35;
    --skin__web_topbg_1__toRgbString: 0,143,53;
    --skin__web_topbg_3: #007732;
    --skin__web_topbg_3__toRgbString: 0,119,50;
    --lobby__max-width: 516.6791604197902px;
    --lobby__vh: 9.19px;
}